extends layouts/_layout.jade

block append init
  - pageTitle = 'The Steeple | work - enpizlab';
  - bodyClass = 'common-body';

block content
  .loading-bg.common-bg
    .sk-cube-grid
      .sk-cube.sk-cube1
      .sk-cube.sk-cube2
      .sk-cube.sk-cube3
      .sk-cube.sk-cube4
      .sk-cube.sk-cube5
      .sk-cube.sk-cube6
      .sk-cube.sk-cube7
      .sk-cube.sk-cube8
      .sk-cube.sk-cube9
  .page-content-wrapper
    header#header.l-header-area.top-header
      nav.l-nav-area
        ul.nav-list
          li.nav-list-item
            a(href="index.html")
              img(src="assets/images/outline-w.svg", alt="The Steeple")
          li.nav-list-item
            a(href="index.html")
              | TOP
          li.nav-list-item
            a(href="about.html")
              | ABOUT
          li.nav-list-item
            a(href="work.html")
              | WORK

    .l-back-area
        a(href="javascript:history.back();")
          | ←BACK


    .l-work-title-area
      p.work-data.animation.fadeInDown
        | - 2015 -
      h2.work-title.animation.fadeInDown02
        | ENPIZLAB
      p.work-category.animation.fadeInDown03
        | Website
      .detail-info.animation.fadeInDown04
        p.work-detail
          | Enpizlab Records by yoshinuma and NF Zessho. Their view of the world and the strength, and to be able to feel from the web site. For a page of the discography, it uses the API of bandcamp. It introduced a mechanism that can be easily refresh the page.
        p.work-detail
          a.work-link(href="http://enpizlab.com")
            | http://enpizlab.com
    .l-work-content-area.animation.fadeInDown05
      img.work-image(src="assets/images/work/bg/enpizlab-bg.jpg")
      img.work-image(src="assets/images/work/enpizlab/01.jpg")
